<div class="aficiones" id="actividades">
    <div class="af__header">
        <h3>Some activities and hobbies</h3>
    </div>
    <div class="container">
        <div class="af__body">
            <div class="af-a">
                <p>
                    During my stay at the <strong> Bolivarian Pontifical University </strong> I managed to stand out
                    for: <br>
                    <br> My participation in the filming of different audiovisual products for the areas
                    of documentary and plot production and in the design and development of 3D and 2D animations. <br>

                    <br> Lighting and directing assistance in short film <em> The Idea </em> in the framework of the
                    course
                    of <strong> Argumental Realization </strong> at the Faculty of Social Communication - Journalism.
                    UPB. <br>
                    Medellín in March 2017. <br>

                    <br> Also for my participation as Soundman of the Fortuito film in the framework of the course <br>
                    of <strong> Argumental Realization </strong> at the Faculty of Social Communication - Journalism.
                    UPB. <br>
                    Medellín in February 2017. <br>
                </p>
            </div>

            <div class="af-b">
                <p>
                    <br> Among my <strong> hobbies and hobbies </strong> are: <br>

                    <br> I love cinema, I like different types of music and I love classic horror films,
                    I like to ride a bike, write stories
                    and articles, development of 3D animations, music mixing, photo editing, filming of
                    audiovisual material <br>
                    and development of content in general for websites and social media.
                </p>
            </div>
        </div>
    </div>
</div>