<div class="datos" id="datos">
    <div class="datos__header">
        <h3>Some personal data </h3>
    </div>
    <div class="container">
        <div class="datos__body">
            <div class="datos-a">
                <ul>
                    <li>
                        <p>
                            <strong> Full name: </strong> John Edison Múnera Bedoya
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong> Phone: </strong> +57 313 5887171
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong> Residence: </strong>
                            <a href="https://goo.gl/maps/Y6DEjtVBSE3nSsjm7"> Calle 1B # 66-94, Medellín - Antioquia.
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong> Citizenship Certificate: </strong> 1017194099 from Medellín, Antioquia
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong> Marital status: </strong> Free Union
                        </p>
                    </li>
                </ul>
            </div>
            <div class="datos-b">
                <ul>
                    <li>
                        <p> <strong> Place and Date of Birth: </strong> Bello, Antioquia. January 19, 1991 </p>
                    </li>
                    <li>
                        <p> <strong> Cell: </strong> <a href="callto:3135887171"> +57 3135887171 </a> </p>
                    </li>
                    <li>
                        <p> <strong> Personal email: </strong> <a href="mailto: edisonupb2013@gmail.com">
                                edisonupb2013@gmail.com </a> </p>
                    </li>
                    <li>
                        <p> <strong> Military notebook N °: </strong> P041100 </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>