<div class="estudios" id="estudios">
    <div class="estudios__header">
        <h3>Studies completed</h3>
    </div>
    <div class="estudios__body">
        <div class="container">
            <div class="est-a">
                <div class="eb__head">
                    <h4>Higher education</h4>
                </div>
                <div class="eb__body">
                    <ul>
                        <li>
                            <p> <strong> Institution: </strong> Pontifical Bolivarian University </p>
                        </li>
                        <li>
                            <p> <strong> Program: </strong> Social Communication - Journalism </p>
                        </li>
                        <li>
                            <p> <strong> City: </strong> Medellín, Antioquia </p>
                        </li>
                        <li>
                            <p> <strong> Duration: </strong> 11 Semesters </p>
                        </li>
                        <li>
                            <p> <strong> Ended: </strong> October 25, 2018 </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="est-b">
                <div class="eb__head">
                    <h4> High school </h4>
                </div>
                <div class="eb__body">
                    <ul>
                        <li>
                            <p> <strong> Institution: </strong> La Salle de Campoamor Educational Institution </p>
                        </li>
                        <li>
                            <p> <strong> Program: </strong> High school </p>
                        </li>
                        <li>
                            <p> <strong> City: </strong> Medellín </p>
                        </li>
                        <li>
                            <p> <strong> Duration: </strong> 6 years </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="estudios__foter">
            <p>
                 <strong> Research project: </strong>
                 <a href="https://www.youtube.com/watch?v=VNQSym-EgTw" target="_blank" rel="nofollow"> Dejando Silencio </a> <br> <br>
                 Documentary Short Film. Faculty of Social Communication - Journalism. <br> Universidad Pontificia
                 Bolivarian. Medellin. January to November 2017.
             </p>
        </div>
    </div>
</div>