<div class="exp" id="experiencia">
    <div class="exp__header">
        <h3>Work experience</h3>
    </div>
    <div class="container">
        <div class="exp__body">
            <div class="roi">
                <div class="roi-a">
                    <p><strong>Company </strong>Roiback LATAM.</p>
                    <p><strong>Position: </strong>Content Manager</p>
                </div>
                <div class="container">
                    <div class="roi-b">
                        <p><strong>Period: </strong>January 15, 2019 - June 23, 2020</p>
                    </div>
                    <div class="roi-c">
                        <p> <strong> Functions: </strong> </p>
                        <ul>
                            <li> Content loading, optimization of images, videos and resolution of incidents. </li>
                            <li> Review of Roiback websites taking into account SEO positioning factors: keywords,
                                titles, H's. Nationally and internationally. </li>
                            <li> Translation of phrases and keywords from English and other languages into Spanish and
                                vice versa. </li>
                            <li> Compilation of information and requirements (Briefing) of new web projects. </li>
                            <li> Creation and optimization of web content, <em> SEO friendly </em> focused on
                                conversion, in English, Spanish and other languages. </li>
                            <li> Account management on Google platforms for projects and statistical positioning data.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="roi-d">
                    <p> <strong> Immediate boss: </strong> Daniel Medina </p>
                    <p> <strong> Contact: </strong> (+34) 971 406 149 (Ext: 120) </p>
                </div>
            </div>

            <div class="socya">
                <div class="socya-a">
                    <p><strong>Company: </strong>Fundación Socya</p>
                    <p><strong>Position: </strong>Social Communicator (Practices)</p>
                </div>
                <div class="container">
                    <div class="socya-b">
                        <p><strong>Period: </strong>February 5 to August 3, 2018</p>
                    </div>
                    <div class="socya-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <li> Development of digital and multimedia content for different platforms </li>
                            <li> Writing articles for the EPM newspaper </li>
                            <li> Planning and execution of activities and communication strategies aimed at the
                                community </li>
                            <li> Planning and execution of activities and strategies internally, aimed at the
                                EGS-PHI (Social Management Team of the Ituango Hydroelectric Project) </li>
                            <li> Statistical analysis of the social impact of the different strategies implemented </li>
                            <li> Constant updating of databases </li>
                        </ul>
                        <p> All functions were guided by the <em> Project Social Management Team
                                Hidroeléctrico Ituango </em> under the
                            development of my practices and were applied with the communities of the 12 municipalities
                            that
                            make up the area of ​​influence of the project </p>
                    </div>
                </div>
                <div class="socya-d">
                    <p><strong>Immediate boss: </strong>Yesica Natalia Gómez</p>
                    <p><strong>Contact: </strong>+57 312 776 3620</p>
                </div>
            </div>

            <div class="gjm">
                <div class="gjm-a">
                    <p><strong>Company: </strong>Grupo Jurídico Medellín</p>
                    <p><strong>Position: </strong>SEO Specialist</p>
                </div>
                <div class="container">
                    <div class="gjm-b">
                        <p><strong>Period: </strong>September 13 to November 13, 2018</p>
                    </div>
                    <div class="gjm-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <li>
                                Support in the design, development and dissemination of digital and photographic content
                                for the site
                                website and restructuring of the site for SEO positioning.
                                <br> <a href="https://www.grupojuridicomed.com/"> Grupo Jurídico Medellín </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gjm-d">
                    <p><strong>Immediate boss: </strong>Dr. Juan Carlos Múnera</p>
                    <p><strong>Contact: </strong>+57 310 845 53 48</p>
                </div>
            </div>

            <div class="ajm">
                <div class="ajm-a">
                    <p><strong>Company: </strong>Asesorías Jurídicas Medellín</p>
                    <p><strong>Position: </strong>Web Developer and Community Manager</p>
                </div>
                <div class="container">
                    <div class="ajm-b">
                        <p><strong>Period: </strong>October 2019 to present</p>
                    </div>
                    <div class="ajm-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <li> Complete development (Backend and Frontend) of the website: <a
                                    href="https://asesoriasjuridicasmed.com/"> asesoriasjuridicasmed.com </a> with
                                direct writing of digital content </li>
                            <li> Multiplatform / Multidevice Responsive Web Development </li>
                            <li> Optimization of images and content <em> SEO Friendly </em> </li>
                            <li> Planning and execution of the Digital Communication plan </li>
                            <li> Planning and execution of the SEO positioning plan for different search engines
                                search </li>
                            <li> General advice on Digital Communication </li>
                            <li> Delivery of monthly performance reports in Google Analytics and Google My Business
                            </li>
                            <li> Planning and execution of campaigns in Google Adwords (SEM) and in social networks
                            </li>
                            <li> Development of audiovisual material and 2D animations for channel in <a
                                    href="https://www.youtube.com/channel/UC-BVRDpwP6PiT2GDryZkXPA"> YouTube </a> </li>
                            <li> <strong> Community Management actions: </strong> Design, development and publication of
                                posts and multimedia content for social networks </li>
                        </ul>
                    </div>
                </div>
                <div class="ajm-d">
                    <p><strong>Immediate boss: </strong>Dr. Juan Carlos Múnera</p>
                    <p><strong>Contact: </strong>+57 310 845 53 48</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Company: </strong>Teacompaño</p>
                    <p><strong>Position: </strong>Web Developer and Community Manager</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Período 1: </strong>December 4, 2017 to November 15, 2019</p>
                        <p><strong>Período 2: </strong>January 13, 2020 to the present</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <p>
                                <strong> First Period: </strong>
                            </p>
                            <li> design, development and dissemination of digital and photographic content for social
                                networks.
                            </li>
                            <li> Construction and maintenance of the website </li>
                            <li> Google Analytics and Google My Business performance reporting </li>
                            <li> Planning and execution of campaigns in Google Adwords (SEM) and in social networks
                            </li>
                        </ul>
                        <p>
                            <strong>Second Period: </strong>
                        </p>
                        <ul>
                            <li> Complete redesign (Backend and Frontend) of the website: <a
                                    href="https://teacompano.com.co/"> teacompano.com.co </a> with direct writing of the
                                digital content </li>
                            <li> Multiplatform / Multidevice Responsive Web Development </li>
                            <li> Optimization of images and content <em> SEO Friendly </em> </li>
                            <li> Planning and execution of the Digital Communication plan </li>
                            <li> Planning and execution of the SEO positioning plan for different search engines
                                search </li>
                            <li> General advice on Digital Communication </li>
                            <li> Delivery of monthly performance reports in Google Analytics and Google My Business
                            </li>
                            <li> Planning and execution of campaigns in Google Adwords (SEM) and in social networks
                            </li>
                            <li> <strong> Community Management actions: </strong> Design, development and publication of
                                posts and multimedia content for social networks </li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Immediate boss: </strong>Joan Sebastián Rodríguez</p>
                    <p><strong>Contact: </strong>+57 312 814 01 80</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Company: </strong>Marketing Global</p>
                    <p><strong>Position: </strong>Community Manager</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Period: </strong>June 26 2020 to April 15 2021</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <li> Copywriting and content for the social networks of the company's brands.
                            </li>
                            <li> Writing Blogs for the company's brands (Ccoins, BitMoney and Mega Academia).
                            </li>
                            <li> Publication of content on the company's social networks. </li>
                            <li> Statistical analysis of performance and KPI's with web analytics tools </li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Immediate boss: </strong>Liliana Serrano Luna</p>
                    <p><strong>Contact: </strong>+57 300 466 5630</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Company: </strong>Farsáli Colombia S.A.S</p>
                    <p><strong>Position: </strong>Web Developer and Commercial Advisor</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Period: </strong>February 2020 to the present</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Functions: </strong></p>
                        <ul>
                            <li> Development and maintenance of the website <a href="https://www.farsalicolombia.com">
                                    Farsáli
                                    Colombia </a>. </li>
                            <li> Advice on commercial and advertising issues. </li>
                            <li> Optimization and maintenance of SEO / SEM protocols. </li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Immediate boss: </strong>José Fabián Ramírez</p>
                    <p><strong>Contact: </strong>+57 304 3524716</p>
                </div>
            </div>

        </div>
    </div>
</div>