<footer>

    <div class="container">
        <div class="footer__nav">
            <div class="fn__header">
                <p><strong>Sitemap</strong></p>
            </div>
            <div class="fn__nav">
                <ul>
                    <li>
                        <a href="/">
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="#perfil">
                            <p>Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="#datos">
                            <p>Personal and contact details</p>
                        </a>
                    </li>
                    <li>
                        <a href="#estudios">
                            <p>Studies</p>
                        </a>
                    </li>
                    <li>
                        <a href="#actividades">
                            <p>Some activities</p>
                        </a>
                    </li>
                    <li>
                        <a href="#experiencia">
                            <p>Work experience</p>
                        </a>
                    </li>
                    <li>
                        <a href="#referencias">
                            <p>Job references</p>
                        </a>
                    </li>
                    <li>
                        <a href="#portafolio">
                            <p>Briefcase</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__con">
            <div class="fc__header">
                <p><strong>Quick contact</strong></p>
            </div>
            <div class="fc__body">
                <div class="whats">
                    <a href="https://api.whatsapp.com/send?phone=573135887171&text=Hola%20Edison%2C%20me%20ha%20interesado%20mucho%20tu%20hoja%20de%20vida%20y%20quisiera%20conocer%20m%E1s%20sobre%20ti."
                        target="_blank" rel="nofollow">
                        <img src="/img/wp.png" alt="">
                        <p><strong>Write me directly <br> By Whatsapp</strong></p>
                    </a>
                </div>
                <div class="social">
                    <div class="social__header">
                        <p><strong>Follow Me</strong></p>
                    </div>
                    <div class="social__img">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100010751436879">
                                    <img src="/img/face.png" alt="">
                                    <p><strong>Facebook</strong></p>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/edik1n0/">
                                    <img src="/img/insta.png" alt="">
                                    <p><strong>Instagram</strong></p>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/edison-m%C3%BAnera-bedoya-9105b752/">
                                    <img src="/img/in.png" alt="">
                                    <p><strong>LinkedIn</strong></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__kino">
            <div class="fk__header">
                <p><strong>Meet K1N0C0M</strong></p>
            </div>
            <div class="fk__body">
                <a href="https://www.k1n0.com.co/" target="_blank" rel="nofollow">
                    <img src="/img/kino.png" alt="">
                </a>
            </div>
        </div>

    </div>



    <div class="footer__rights">
        <p><strong>All rights reserved - <a href="https://www.k1n0.com.co/" target="_blank" rel="nofollow">K10C0M
                    2020</a></strong></p>
    </div>

</footer>