<div class="habs">
    <div class="habs__header">
        <h3> Skills, competencies and tools </h3>
    </div>
    <div class="habs__body">
        <div class="container">
            <div class="idiomas">
                <div class="idiomas__header">
                    <h4> Foreign Language </h4>
                </div>
                <div class="idiomas__body">
                    <h4><strong>English</strong></h4>
                    <ul>
                        <li>
                            <p>
                                <strong>Reading: </strong>Advanced
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%"></div>
                            </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Writing: </strong>Advanced
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%"></div>
                            </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Oral: </strong>Intermediate
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 80%"></div>
                            </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Hearing: </strong>Advanced
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%"></div>
                            </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="herramientas">
                <div class="herr__head">
                    <h4> Knowledge and experience with tools </h4>
                </div>
                <div class="herr__body">
                    <div class="herr-a">
                        <ul>
                            <li>
                                <p>
                                    <strong>Suite Office: </strong>Word, Excel, Power Point, Office 365.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%;"></div>
                                    <p class="level"><strong>90%</strong></p>
                                </div>
                            </li>
                            <li>
                                <p>
                                    <strong>3D and 2D animation: </strong>Blender, Animate, Cinema 4D.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 60%"></div>
                                    <p class="level"><strong>60%</strong></p>
                                </div>
                            </li>
                            <li>
                                <p>
                                    <strong>Suite Adobe: </strong>InDesign, Photoshop, Illustrator, DreamWeaver, After
                                    Effects,<br>Premiere, Adobe XD, Character Animator.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 90%"></div>
                                    <p class="level"><strong>90%</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="herr-b">
                        <ul>
                            <li>
                                <p>
                                    <strong>Audio Editing / Production: </strong>Adobe Audition, Trakktor, VirtualDj,
                                    Audacity.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%"></div>
                                    <p class="level"><strong>100%</strong></p>
                                </div>
                            </li>
                            <li>
                                <p>
                                    <strong>SEO / SEM positioning: </strong>Positioning in internet search engines <br>
                                    And other knowledge in Digital Marketing.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 80%"></div>
                                    <p class="level"><strong>80%</strong></p>
                                </div>
                            </li>
                            <li>
                                <p>
                                    <strong>Web Development: </strong>HTML5, CSS3, SASS, Javascript,<br>Angular, Python,
                                    PHP and Databases.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 60%"></div>
                                    <p class="level"><strong>60%</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="dist">
                <p><strong>Distinctions: </strong> Recognized with the <em> UPB Distinguished Student </em>
                    encouragement on September 3, 2017. </p>
            </div>
        </div>
    </div>
</div>