<div class="header">
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" class="icon-menu"></label>
    <nav class="menu">
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#perfil">Profile</a></li>
                <li><a href="#datos">Personal Data</a></li>
                <li><a href="#estudios">Studies</a></li>
                <li><a href="#actividades">Some activities</a></li>
                <li><a href="#experiencia">Work experience</a></li>
                <li><a href="#referencias">Job references</a></li>
                <li><a href="#portafolio">Briefcase</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg">
        <div class="bg__logo">
            <a href="/">
                <img src="/img/img-logo.jpg" alt="">
            </a>
        </div>
        <div class="bg__mob">
            <img src="/img/banner-mob.jpg" alt="">
        </div>
        <div class="bg__banner">
            <img src="/img/banner-principal.jpg" alt="">
        </div>
        <div class="bg__slogan" id="perfil">
            <h1>John Edison Múnera Bedoya</h1>
            <h2>Social Communicator - Journalist</h2>
        </div>
    </div>
</div>