<div class="container">
    <div class="perfil" id="perfil">
        <div class="perfil__img">
            <img src="/img/img-into.jpg" alt="">
        </div>
        <div class="container">
            <div class="perfil__txt">
                <p>
                    Social Communicator - Journalist with a high level of English and creative skills in handling
                    of audiovisual tools required within the stages of content production and dissemination
                    and trans-media content. Participation in the making of plot short films and
                    documentaries at university, promoted teamwork and mastery of the subject. <br>

                    <br> With knowledge in the handling of different graphic and multimedia design tools the
                    which support the standards of content dissemination and marketing. Distinguished for social
                    responsibility,
                    ability to acquire and overcome new challenges and skills of adaptability, leadership and desire to
                    learn.
                </p>
            </div>
            <div class="perfil__icons">
                <ul>
                    <li><img src="/img/video.png" alt=""></li>
                    <li><img src="/img/diseno.png" alt=""></li>
                    <li><img src="/img/edicion.png" alt=""></li>
                    <li><img src="/img/fotos.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>