<div class="porta" id="portafolio">
    <div class="porta__header">
        <h3> Do you want to know my portfolio? </h3>
    </div>
    <div class="container">
        <div class="porta__body">
            <div class="pb__drive">
                <p>
                     The following link will take you to a shared folder in Drive, where you can view some
                     of my most outstanding projects.
                 </p>
                <a href="https://drive.google.com/open?id=11KH6TkBUF1m6N-9Vn9Tse6eJN0MnYvZE" rel="nofollow"
                    target="_blank">
                    <img src="/img/drive-logo.png" alt="">
                    <p>
                         Google Drive shared folder <br>
                         <em>Secure folder</em>
                     </p>
                </a>
            </div>
            <!-- <div class="pb__form">
                <p>
                    O indícame tus datos de contacto para ponerme en contacto contigo en el menor tiempo posible.
                </p>
                <form action="../send-form.php" method="POST">
                    <p>
                        <em>Tus datos personales y/o los de tu empresa, no serán compartidos con terceros.</em><br>
                        <br>Los datos marcados con <em>*</em> son necesarios para gestionar su solicitud.
                    </p>
                    <div class="form-group">
                        <p>Nombre Completo (*)</p>
                        <input type="text" name="name" placeholder="Alberto Jiménez" class="form-control">
                    </div>
                    <div class="form-group">
                        <p>Correo electrónico (*)</p>
                        <input type="email" name="email" placeholder="aljimenez@yahoo.es" class="form-control">
                    </div>
                    <div class="form-group">
                        <p>Teléfono/Whatsapp (*)</p>
                        <input type="tel" name="phone" placeholder="+44 (4) 444 44 44" class="form-control">
                    </div>
                    <div class="form-group">
                        <p>Empresa/Institución</p>
                        <input type="text" name="place" placeholder="Industrias Pepito" class="form-control">
                    </div>
                    <div class="form-group">
                        <p>Motivo de la consulta/Comentarios</p>
                        <textarea name="description" placeholder="Máx. 500 Caracteres" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Enviar" class="btn btn-danger" name="send-form">
                </form>
            </div> -->
        </div>
    </div>
</div>