<div class="ref" id="referencias">
    <div class="ref__header">
        <h3> Some work references </h3>
    </div>
    <div class="container">
        <div class="ref__body">
            <div class="ref">
                <a href="https://www.teacompano.com.co/" target="_blank" rel="nofollow">
                    <img src="/img/logo-web.png" alt="">
                    <p>Teacompaño - Nursing care at home</p>
                </a>
            </div>
            <div class="ref">
                <a href="https://asesoriasjuridicasmed.com/" target="_blank" rel="nofollow">
                    <img src="/img/logo-og.gif" alt="">
                    <p>Asesorías Jurídicas Medellín</p>
                </a>
            </div>
            <div class="ref" style="margin-top: 100px;">
                <a href="https://www.farsalicolombia.com/" target="_blank" rel="nofollow">
                    <img src="/img/logo-farsali.png" alt="">
                    <p>Farsáli Colombia</p>
                </a>
            </div>
        </div>
    </div>
</div>