<div class="wp">
    <a href="https://api.whatsapp.com/send?phone=573135887171&text=Hola%20Edison%2C%20me%20ha%20interesado%20mucho%20tu%20hoja%20de%20vida%20y%20quisiera%20conocer%20m%E1s%20sobre%20ti." target="_blank" rel="nofollow">
        <p> Send me a direct message on WhatsApp </p>
        <img src="/img/wp-chat.png" alt="">
    </a>
</div>